[tool.poetry]
name = "s3content"
version = "0"
packages = [{ include = "s3contents" }]
homepage = "https://github.com/danielfrg/s3contents"
repository = "https://github.com/danielfrg/s3contents"
documentation = "https://github.com/danielfrg/s3contents"
description = "S3 Contents Manager for Jupyter"
authors = ["Daniel Rodriguez"]
maintainers = ["Daniel Rodriguez"]
license = "Apache License, Version 2.0"
readme = "README.md"
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Operating System :: OS Independent",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Topic :: Scientific/Engineering",
]

[build-system]
requires = ["poetry>=1.1", "setuptools>=57,<58"]
build-backend = "poetry.masonry.api"

[tool.poetry.dependencies]
python = ">=3.7.1,<4"
notebook = ">=5.6,<7.0"
fsspec = "^2021.8.1"
s3fs = "^2021.8.1"
gcsfs = "^2021.8.1"
requests = "^2.26.0"
requests-unixsocket = "^0.2.0"
nose = "^1.3.7"

[tool.poetry.dev-dependencies]
black = "21.9b0"
flake8 = "^3"
isort = "^5"
pylint = "^2.11.1"
pytest = "^6.2.5"
pytest-cov = "^2.12.1"
mock = "^4.0.3"

[tool.pytest.ini_options]
xfail_strict = true
addopts = [
  "--ignore=site-packages",
  "--ignore=dist-packages",
  "--ignore=dist",
  "--strict-markers"
]
norecursedirs = ["site-packages", "dist-packages", "dist"]
markers = [
    "minio: requires minio server (deselect with '-m \"not minio\"')",
    "gcs: requires gcs creds (deselect with '-m \"not minio\"')"
]

[tool.coverage.run]
parallel = true
branch = true

[tool.coverage.report]
omit = ["s3contents/_generated_version.py", "s3contents/tests/*"]

[tool.black]
line_length = 79
skip_string_normalization = true

[tool.isort]
ensure_newline_before_comments = true
line_length = 79
multi_line_output = 3
include_trailing_comma = true
profile = "black"

[tool.pydocstyle]
inherit = false
convention = "numpy"
match_dir = "s3contents"
add_ignore = ["D100", "D101", "D102", "D103", "D104", "D105"]
