name: test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 5 * * *"

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.7, 3.8]
        jupyter-version: ["5.6", "5.7", "5.*", "6.0", "6.*"]

    # We don't use Minio official image because we cant specify the docker command in Github Actions
    # https://github.community/t5/GitHub-Actions/Job-service-command/m-p/33901
    # https://github.community/t5/GitHub-Actions/Specify-command-in-job-service-container/m-p/40616
    services:
      minio:
        image: getfider/minio:0.0.2
        # image: minio/minio:RELEASE.2018-06-29T02-11-29Z
        # command: server /export
        ports:
          - 9000:9000
        env:
          MINIO_ACCESS_KEY: access-key
          MINIO_SECRET_KEY: secret-key
        volumes:
          - /tmp/tmp-data:/data

    steps:
    - uses: actions/checkout@v2
    - run: git fetch --prune --unshallow

    - name: Verify Minio
      run: |
        sudo mkdir -p /tmp/tmp-data/notebooks
        curl http://localhost:9000/

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies - Jupyter ${{ matrix.jupyter-version }}
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # Install specific Jupyter Notebook version
        pip install -U notebook==${{ matrix.jupyter-version }}
        pip freeze

    - name: Install package
      run: |
        make build
        pip install dist/*.tar.gz
        pip freeze

    - name: Check linting
      run: |
        # Disabled until https://github.com/danielfrg/s3contents/issues/102 is fixed
        # make check

    - name: Run tests
      if: always()
      run: |
        make test-all
        make report

    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml

